%% Additional library directories to add to the code path
{lib_dirs, []}.

%% Erlang compiler options
{erl_opts, [debug_info]}.

%% Options for eunit:test()
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.


%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, false}.
